[submodule "Aegisub-wangqr"]
	path = Aegisub-wangqr
	url = https://github.com/wangqr/Aegisub
[submodule "libass"]
	path = libass
	url = https://github.com/libass/libass
[submodule "ffms2"]
	path = ffms2
	url = https://github.com/FFMS/ffms2
[submodule "FFmpeg"]
	path = FFmpeg
	url = https://github.com/FFmpeg/FFmpeg
